*~

# atom
atom.symlink/.node-gyp
atom.symlink/compile-cache
atom.symlink/packages
atom.symlink/storage
atom.symlink/.apm/.apmrc
atom.symlink/blob-store
atom.symlink/recovery
atom.symlink/.atom-socket-secret-*
.apm
