Host *
  ServerAliveInterval 15
  UseKeychain yes
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_rsa

Host *.pagekite.me
  CheckHostIP no
  ProxyCommand /usr/bin/nc -X connect -x %h:443 %h %p

# kermit's servers
#=================
# TODO: get rid of these configs

Host kermit-blimp
  HostName kermit-blimp
  # HostName izvidnica.ddns.net
  User root

Host yardbird
  HostName kermit-blimp
  # HostName izvidnica.ddns.net
  Port 2202
  User root

Host kermit-blimp-rpi
  HostName kermit-blimp
  # HostName izvidnica.ddns.net
  Port 2202
  User root

Host kermit-blimp-rpi-zg
  HostName utvrda.ddns.net
  Port 2202
  User root

Host vitalportal
  HostName vitalportal
  User vpdevelop

Host metakermit.pagekite.me
  User pi
