"*":
  "autocomplete-python": {}
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
  editor:
    fontSize: 19
    invisibles: {}
  "exception-reporting":
    userId: "d3a0f3ef-d857-32e9-f013-43043c15090d"
  metrics:
    userId: "d6afe292f4a1f10d8d7b1959f41d56dd01c774a8"
  "tree-view": {}
  welcome:
    showOnStartup: false
  wordcount:
    files:
      "File extensions": "md markdown readme txt rst tex"
