"*":
  "atom-ide-ui":
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      hyperclick: "default"
  "atom-package-deps":
    ignored: []
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "whitespace"
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "d3a0f3ef-d857-32e9-f013-43043c15090d"
  "git-blame":
    columnWidth: 175
  kite:
    showKiteTourOnStartup: false
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 172
    showPanel: true
  metrics:
    userId: "d6afe292f4a1f10d8d7b1959f41d56dd01c774a8"
  minimap: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
    useEslint: true
  "tree-view": {}
  welcome:
    showOnStartup: false
  wordcount:
    files:
      "File extensions": "md markdown readme txt rst tex"
